* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "MyFont";
  src: url("/NeueHaasDisplayMediu.ttf") format("truetype");
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "MyFont";
}

#page1 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  position: relative;
  padding: 0 2vw;
}

nav {
  padding: 2vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-part2 {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.nav-part2 h4 {
  padding: 10px 20px;
  border: 1px solid rgb(165, 165, 165);
  border-radius: 50px;
  font-weight: 500;
  color: #000000bb;
  font-size: 18px;
  position: relative;
  transition: all ease 0.4s;
  overflow: hidden;
}

.nav-part2 h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}

.nav-part2 h4:hover::after {
  bottom: 0;
  border-radius: 0;
}

.nav-part2 h4 a {
  text-decoration: none;
  color: #000000bb;
  z-index: 9;
  position: relative;
}

.nav-part2 h4:hover a {
  color: white;
}

.center {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #000000bb;
  padding-bottom: 2vw;
}

.left h3 {
  width: 25vw;
  font-size: 1.8vw;
  line-height: 2vw;
}
.right h1 {
  font-size: 10vw;
  line-height: 8vw;
  text-align: right;
}

#page1 video {
  width: 100%;
  border-radius: 30px;
  margin-top: 4vw;
  position: relative;
  z-index: 9;
}

.hero-shape {
  position: absolute;
  width: 46vw;
  height: 36vw;
  right: 0;
  top: 65vh;
  filter: blur(10px);
  background-color: #fe320a;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.hero-1 {
  height: 30vw;
  width: 30vw;
  background-color: #fe320a;
  border-radius: 50%;
  filter: blur(10px);
  position: absolute;
}
.hero-2 {
  height: 30vw;
  width: 30vw;
  background: linear-gradient(#fe320a, #ff4b28);
  border-radius: 50%;
  filter: blur(10px);
  position: absolute;
  animation-name: anime2;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.hero-3 {
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  filter: blur(10px);
  position: absolute;
  background: linear-gradient(#fe320a, #ff4b28);
  animation-name: anime1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes anime1 {
  from {
    transform: translate(55%, -3%);
  }
  to {
    transform: translate(0%, 10%);
  }
}

@keyframes anime2 {
  from {
    transform: translate(5%, -5%);
  }
  to {
    transform: translate(-20%, 30%);
  }
}

#page2 {
  height: 100vh;
  width: 100%;
  padding: 8vw 0;
}

#moving-text {
  white-space: nowrap;
  overflow-x: auto;
}

#moving-text::-webkit-scrollbar {
  display: none;
}

#moving-text,
.con {
  display: flex;
  align-items: center;
}

.con {
  animation-name: move;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#moving-text h1 {
  font-size: 9vw;
}

#gola {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: #fe320a;
  display: inline-block;
  margin: 1vw 2vw;
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
