*{
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@mixin flexBox($gap:0rem){
    display: flex;
    flex-direction: column;
    gap: $gap;
}



.nav{
    width: 100%;
    display: flex;

    .navbar{
        width: 100%;
        @include flexBox(0rem);
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding: 1rem 2rem;

        .nav-options{
            @include flexBox(2rem);
            flex-direction: row;
            font-size: 1.1rem;
            font-weight: 600;
            align-items: center;
            i{
                font-size: 1.4rem;
            }
            button{
                padding: 0.9rem 2rem;
                background-color: rgb(9, 9, 188);
                border-radius: 50px;
                color: white;
                font-weight: 600;
                border: none;
            }
        }
    }

}

.view1{
    width: 100%;
    padding: 2rem;
    @include flexBox(5rem);
    background: linear-gradient(
        white 0%,
        white 50%,
        red 250%
    );
    .view1-heading{
        @include flexBox(2rem);
        img{
            width: 100%;
        }
        h1{
            text-align: center;
            font-size: 3rem;
        }
    }
    .view1-paragraph{
        text-align: center;
        h2{
            font-size: 2rem;
            font-weight: 500;
        }
    }
}

.view2{
    width: 100%;
    @include flexBox(4rem);
    flex-direction: column;
    padding: 5rem 2rem;

    .card{
        border-top: 4px solid rgba(128, 128, 128, 0.3);
        width: 100%;
        @include flexBox(5rem);
        flex-direction: column;
        padding-top: 2rem;

        .card-paragraph{
            @include flexBox(1rem);
            flex-direction: column;

            h3{
                font-size: 2rem;
            }
            p{
                font-size: 1.3rem;
            }
        }
        .card-image{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
}
.view3{
    width: 100%;
    @include flexBox(0rem);
    flex-direction: column;
    padding: 2rem;
    .view3-main{
        width: 100%;
        @include flexBox(0rem);
        flex-direction: column;
        .view3-img{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .view3-info{
            width: 100%;
            @include flexBox(2rem);
            flex-direction: column;
            .view3-heading{
                @include flexBox(1rem);
                flex-direction: column;
                p{
                    font-size: 1.5rem;
                }
                h3{
                    font-size: 2rem;
                }
            }
            .view3-paragraph{
                @include flexBox(3rem);
                flex-direction: column;
                font-size: 1.5rem;
                .view3-btn{
                    @include flexBox(2rem);
                    flex-direction: row;
                    align-items: center;
                    button{
                        padding: 0.8rem 2rem ;
                        font-size: 1rem;
                        background-color: transparent;
                        border: 1px solid blue;
                        color: blue;
                        border-radius: 2rem;
                    }
                    p{
                        font-size: 1.2rem;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
.view4{
    width: 100%;
    @include flexBox(0rem);
    flex-direction: column;
    padding: 2rem;
    background: linear-gradient(to top right, rgba(254, 254, 179, 0.715), white);
    .view4-main{
        width: 100%;
        @include flexBox(0rem);
        flex-direction: column;
        .view4-img{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .view4-info{
            width: 100%;
            @include flexBox(2rem);
            flex-direction: column;
            .view4-heading{
                @include flexBox(1rem);
                flex-direction: column;
                p{
                    font-size: 1.5rem;
                }
                h3{
                    font-size: 2rem;
                }
            }
            .view4-paragraph{
                @include flexBox(3rem);
                flex-direction: column;
                font-size: 1.5rem;
                .view4-btn{
                    @include flexBox(2rem);
                    flex-direction: row;
                    align-items: center;
                    button{
                        padding: 0.8rem 2rem ;
                        font-size: 1rem;
                        background-color: rgb(76, 159, 255);
                        color: white;
                        border:none;
                        border-radius: 2rem;
                    }
                    p{
                        font-size: 1.2rem;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
.view5{
    width: 100%;
    @include flexBox(0rem);
    flex-direction: column;
    padding: 2rem;
    .view5-main{
        width: 100%;
        @include flexBox(0rem);
        flex-direction: column;
        .view5-img{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .view5-info{
            width: 100%;
            @include flexBox(2rem);
            flex-direction: column;
            .view5-heading{
                @include flexBox(1rem);
                flex-direction: column;
                p{
                    font-size: 1.5rem;
                }
                h3{
                    font-size: 2rem;
                }
            }
            .view5-paragraph{
                @include flexBox(3rem);
                flex-direction: column;
                font-size: 1.5rem;
                .view5-btn{
                    @include flexBox(2rem);
                    flex-direction: row;
                    align-items: center;
                    button{
                        padding: 0.8rem 2rem ;
                        font-size: 1rem;
                        background-color: rgb(76, 159, 255);
                        color: white;
                        border:none;
                        border-radius: 2rem;
                    }
                    p{
                        font-size: 1.2rem;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
.view6{
    width: 100%;
    @include flexBox(0rem);
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    background: linear-gradient(to top right, rgba(254, 254, 179, 0.715), white);

    .view6-main{
        width: 100%;
        @include flexBox(5rem);
        flex-direction: column;
        align-items: center;
        
        .view6-img{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .view6-info{
            width: 100%;
            @include flexBox(2rem);
            flex-direction: column;
            .view6-heading{
                @include flexBox(0.5rem);
                flex-direction: column;
                p{
                    font-size: 1.2rem;
                    font-weight: 600;
                    
                }
                h3{
                    font-size: 3.5rem;
                    line-height: 4rem
                }
            }
            .view6-paragraph{
                @include flexBox(2rem);
                flex-direction: column;
                font-size: 1.2rem;
                .view6-btn{
                    @include flexBox(2rem);
                    flex-direction: row;
                    align-items: center;
                    button{
                        padding: 0.8rem 2rem ;
                        font-size: 1rem;
                        background-color: rgb(76, 159, 255);
                        color: white;
                        border:none;
                        border-radius: 2rem;
                    }
                    p{
                        font-size: 1rem;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
.view7{
    width: 100%;
    @include flexBox(0rem);
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    .blue-box{
        color: white;
       background-color: rgb(0, 0, 78);

    }
}

@media (max-width:1092px) {
    .nav{
     .navbar{
        .nav-options{
            display: none;
        }
     }
     }
}

@media (min-width:900px) {
    .view1{
    width: 100%;
    padding: 2rem;
    @include flexBox(5rem);
    
    
    background: linear-gradient(
    to top right,
    rgba(255, 69, 69, 0.327) 10%,
    white 40%,
    white 100%
);
    .view1-heading{
        @include flexBox(3rem);
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        img{
            width: 35%;
        }
        h1{
            text-align: start;
            font-size: 3rem;
            width: 30%;
            line-height: 50px;
        }
    }
    .view1-paragraph{
        display: flex;
        justify-content: center;
        h2{
            width: 50%;
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
}
    .view2{
    width: 90%;
    margin: auto;
    @include flexBox(4rem);
    flex-direction: row;
    padding: 5rem 2rem;
}
    .view3{
    width: 100%;
    @include flexBox(0rem);
    flex-direction: row;
    padding: 2rem;
    justify-content: center;
    .view3-main{
        width: 80%;
        @include flexBox(10rem);
        flex-direction: row-reverse;
        align-items: center;
        .view3-img{
            width: 50%;
            img{
                width: 80%;
            }
        }
        .view3-info{
            width: 45%;
            @include flexBox(2rem);
            flex-direction: column;
            .view3-heading{
                @include flexBox(0.5rem);
                flex-direction: column;
                p{
                    font-size: 1.2rem;
                    font-weight: 600;
                    
                }
                h3{
                    font-size: 3rem;
                }
            }
            .view3-paragraph{
                @include flexBox(3rem);
                flex-direction: column;
                font-size: 1.2rem;
                .view3-btn{
                    @include flexBox(2rem);
                    flex-direction: row;
                    align-items: center;
                    button{
                        padding: 0.8rem 2rem ;
                        font-size: 1rem;
                        color: rgb(76, 159, 255);
                        border:1px solid rgb(76, 159, 255);
                        border-radius: 2rem;
                        background-color: transparent;
                    }
                    p{
                        font-size: 1rem;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
    .view4{
    width: 100%;
    @include flexBox(0rem);
    flex-direction: row;
    padding: 2rem;
    justify-content: center;
    .view4-main{
        width: 80%;
        @include flexBox(5rem);
        flex-direction: row;
        align-items: center;
        .view4-img{
            width: 50%;
            img{
                width: 80%;
            }
        }
        .view4-info{
            width: 40%;
            @include flexBox(2rem);
            flex-direction: column;
            .view4-heading{
                @include flexBox(0.5rem);
                flex-direction: column;
                p{
                    font-size: 1.2rem;
                    font-weight: 600;
                    
                }
                h3{
                    font-size: 3.5rem;
                    line-height: 4rem
                }
            }
            .view4-paragraph{
                @include flexBox(2rem);
                flex-direction: column;
                font-size: 1.2rem;
                .view4-btn{
                    @include flexBox(2rem);
                    flex-direction: row;
                    align-items: center;
                    button{
                        padding: 0.8rem 2rem ;
                        font-size: 1rem;
                        background-color: rgb(76, 159, 255);
                        color: white;
                        border:none;
                        border-radius: 2rem;
                    }
                    p{
                        font-size: 1rem;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

    .view5{
    width: 100%;
    @include flexBox(0rem);
    flex-direction: row;
    padding: 2rem;
    justify-content: center;
    .view5-main{
        width: 80%;
        @include flexBox(5rem);
        flex-direction: row-reverse;
        align-items: center;
        .view5-img{
            width: 50%;
            img{
                width: 80%;
            }
        }
        .view5-info{
            width: 40%;
            @include flexBox(2rem);
            flex-direction: column;
            .view5-heading{
                @include flexBox(0.5rem);
                flex-direction: column;
                p{
                    font-size: 1.2rem;
                    font-weight: 600;
                    
                }
                h3{
                    font-size: 3.5rem;
                    line-height: 4rem
                }
            }
            .view5-paragraph{
                @include flexBox(2rem);
                flex-direction: column;
                font-size: 1.2rem;
                .view5-btn{
                    @include flexBox(2rem);
                    flex-direction: row;
                    align-items: center;
                    button{
                        padding: 0.8rem 2rem ;
                        font-size: 1rem;
                        color: rgb(76, 159, 255);
                        border:1px solid rgb(76, 159, 255);
                        border-radius: 2rem;
                        background-color: transparent;
                    }
                    p{
                        font-size: 1rem;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
.view6{
    width: 100%;
    @include flexBox(0rem);
    flex-direction: row;
    padding: 2rem;
    justify-content: center;
    background: linear-gradient(to top right, rgba(254, 254, 179, 0.715), white);

    .view6-main{
        width: 80%;
        @include flexBox(5rem);
        flex-direction: row;
        align-items: center;
        .view6-img{
            width: 50%;
            img{
                width: 80%;
            }
        }
        .view6-info{
            width: 40%;
            @include flexBox(2rem);
            flex-direction: column;
            .view6-heading{
                @include flexBox(0.5rem);
                flex-direction: column;
                p{
                    font-size: 1.2rem;
                    font-weight: 600;
                    
                }
                h3{
                    font-size: 3.5rem;
                    line-height: 4rem
                }
            }
            .view6-paragraph{
                @include flexBox(2rem);
                flex-direction: column;
                font-size: 1.2rem;
                .view6-btn{
                    @include flexBox(2rem);
                    flex-direction: row;
                    align-items: center;
                    button{
                        padding: 0.8rem 2rem ;
                        font-size: 1rem;
                        background-color: rgb(76, 159, 255);
                        color: white;
                        border:none;
                        border-radius: 2rem;
                    }
                    p{
                        font-size: 1rem;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
}

@media (min-width:1013px) {
     .view1{
    width: 100%;
    padding: 2rem;
    @include flexBox(5rem);
    
    
    background: linear-gradient(
    to top right,
    rgba(255, 69, 69, 0.327) 10%,
    white 40%,
    white 100%
);
    .view1-heading{
        @include flexBox(3rem);
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        img{
            width: 35%;
        }
        h1{
            text-align: start;
            font-size: 4rem;
            width: 30%;
            line-height: 70px;
        }
    }
    .view1-paragraph{
        display: flex;
        justify-content: center;
        h2{
            width: 50%;
            font-size: 1rem;
            font-weight: 500;
        }
    }
}
}