* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

@mixin flex-box($gap) {
  display: flex;
  gap: $gap;
}

.main {
  width: 100%;
  height: 100%;
  position: relative;
  .nav {
    @include flex-box(0);
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    .nav-img {
      width: 3rem;
      img {
        width: 100%;
      }
    }
    .nav-option {
      @include flex-box(0);
      gap: 2rem;
    }
    .nav-logo {
      @include flex-box(1rem);
      font-size: 1.3rem;
    }
    .nav-option.hide {
      display: none;
    }
  }

  /* Icon 1 */

  #nav-icon1,
  #nav-icon2,
  #nav-icon3,
  #nav-icon4 {
    display: none;
    width: 50px;
    height: 40px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #nav-icon1 span,
  #nav-icon3 span,
  #nav-icon4 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #484848;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #nav-icon1 span:nth-child(1) {
    top: 0px;
  }

  #nav-icon1 span:nth-child(2) {
    top: 18px;
  }

  #nav-icon1 span:nth-child(3) {
    top: 36px;
  }

  #nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  #nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  .main-bread {
    display: flex;
    padding: 0rem 2rem;
    justify-content: space-between;
    .breadcrumb {
      padding: 1rem 2rem;
      @include flex-box(0);
      align-items: center;
      a {
        text-decoration: none;
        font-size: 20px;
        color: black;
      }
      i {
        font-size: 30px;
        font-weight: 10;
      }
    }
    .bread-heading {
      padding: 0rem 2rem;
    }
    .bread-sort {
      margin-top: 4.5rem;
    }
  }

  .main-products {
    display: flex;
    margin-top: 30px;
    .product1 {
      width: 30%;
      padding: 0rem 2rem;

      div {
        width: 80%;
        font-size: 25px;
        padding: 1rem 2rem;
        text-align: left;

        h3 {
          width: 100%;
          text-align: left;
          display: flex;
          justify-content: space-between;
        }
      }
      hr {
        width: 25rem;
        margin-left: 28px;
      }
    }
    .product2 {
      width: 70%;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      .main-project {
        width: 30%;
        padding: 20px;
        position: relative;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        .project2-cart {
          position: absolute;
          top: 130px;
          right: 105px;
          transform: translate(-50%, -50%);
          width: 50px;
          height: 50px;
          background-color: rgb(127, 47, 47);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 9;
          opacity: 0;
          transition: 0.3s ease;
          i {
            color: white;
            font-size: 30px;
          }
        }

        &:hover .project2-cart {
          opacity: 1;
        }

        .project2-img {
          width: 100%;
          transition: 0.3s ease;
          img {
            width: 100%;
          }
        }
        &:hover .project2-img img {
          filter: blur(3px);
        }
        .project2-para {
          line-height: 1.9rem;
        }
      }
    }
  }
}

@media (max-width: 605px) {
  .main {
    .nav {
      .nav-option {
        display: none;
      }
      .nav-option.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: white;
        padding: 20px;
        gap: 25px;
      }
    }
    #nav-icon1 {
      display: block;
    }
  }
}

@media (max-width: 1569px) {
  .main-products {
    display: flex;
    justify-content: center;
    .product1 {
      display: none;
    }
  }
}
